[project]
name = "anomaly-detection-demo"
version = "0.1.0"
description = ""
readme = "README.md"
authors = [
    { name = "Julian Hoever", email = "julianhoever@posteo.de" }
]
requires-python = ">=3.13"
dependencies = []

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.uv.sources]
torch-training = { git = "https://github.com/julianhoever/torch-training", branch = "main" }

[tool.pytest.ini_options]
testpaths = ["tests"]
